<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
    <div class="container mt-3">
        <div class="form-group text-right">
            <a href="/board/register">
                <button type="button" class="btn btn-secondary btn-sm" id="writeBtn">글쓰기</button>
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board:${list}">
            <td>[[${board.num}]]</td>
            <td><a th:href="|@{/board/view(num=${board.num})}|">[[${board.title}]]</a></td>
            <td>[[${board.writer}]]</td>
            <td>[[${board.regdate}]]</td>
        </tr>
        </tbody>
    </table>

</div>