<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/upload/uploadPro" enctype="multipart/form-data">
    <div>
        title: <input name="title" type="text">
    </div>
    <div>
        content: <textarea name="content" cols="50" rows="5"></textarea>
    </div>
    <div>
    <input type="file" name="files" multiple>
    </div>
    <div>
        <button type="submit">전송</button>
    </div>
</form>
</body>
</html>