<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
  <link rel="stylesheet" href="/css/sb-admin-2.css">
  <script src="/js/sb-admin-2.js"></script>
</head>

<body>

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <form class="form-inline">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
      </form>

      <!-- Topbar Search -->
      <form th:action="@{/board/list}" method="get"
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
          <input type="text" name="searchKeyword" class="form-control bg-light border-0 small" placeholder="Search for..."
                 aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" th:text="검색">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
      <a th:href="@{/board/write}" class="btn btn-primary btn-icon-split">
        <span class="text">글작성</span>
      </a>
    </nav>
  </div>
</div>


<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">게시판 리스트</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                               href="https://datatables.net">official DataTables documentation</a>.</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">게시판 리스트</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>No</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>작성시간</th>
              <th>좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${list}">
              <td th:text="${board.id}">1</td>
              <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
              </td>
              <td>박정민</td>
              <td>
                <div id="current_date">
                  <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = date.getMonth() + 1;
                    day = date.getDate();
                    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
                  </script>
                </div>
              </td>
              <td>0</td>
            </tr>
            </tbody>
          </table>
            <ul class="pagination text-center">
              <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <li class="paginate_button page-item">
                  <a aria-controls="dataTable" class="page-link"
                     th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
                  <strong aria-controls="dataTable" class="page-link" th:if="${page == nowPage}" th:text="${page}"></strong>
                </li>
              </th:block>
            </ul>
        </div>
      </div>
    </div>
</div>
  <!-- /.container-fluid -->

</body>
</html>